
body {
  background: #EC145A;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
}
a { text-decoration: none; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.nav-fostrap {
  display: block;
  margin-bottom: 15px 0;
  background: #029ce3;
  border-radius: 3px;
}

.nav-fostrap ul {
  list-style-type: none;
  margin-left: 220px;
  padding: 0;
  display: block;
}

.nav-fostrap li {
  list-style-type: none;
  margin-left: 50px;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14;
  color: #def1f0;
}

.nav-fostrap li a {
  padding: 15px  20px;
  font-size: 14;
  color: #def1f0;
  display: inline-block;
  outline: 0;
  font-weight: 400;
}

.nav-fostrap li:hover ul.dropdown { display: block; }

.nav-fostrap li ul.dropdown {
  position: absolute;
  z-index: 999999999;
  display: none;
  width: 180px;
  margin-left: -35px;
  background: #2980B9;
}
.dropdown li a {
  margin-left: -9px;
}

.nav-fostrap li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  margin-right: 20px;
  font-weight: 400;
}
.nav-fostrap li ul.dropdown li:last-child a { border-bottom: none; }

.nav-fostrap li:hover a {
  background: #2980B9;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li:hover a { background: rgba(0,0,0, .1); }

.nav-fostrap li ul.dropdown li:first-child:hover a { border-radius: 100px; }

.nav-fostrap li ul.dropdown li:nth-child(2):hover a { border-radius: 100px; }

.nav-fostrap li ul.dropdown li:last-child:hover a { border-radius: 100px; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
  content: '';
}

 @media only screen and (max-width:900px) {

.nav-fostrap {
  background: #fff;
  width: 100px;
  height: 100%;
  display: block;
  position: fixed;
  left: -200px;
  top: 0px;
}

.nav-fostrap li ul.dropdown li a {
  background: #2980B9 !important;
  border-bottom: none;
  color: #fff !important;
}

.nav-fostrap li:hover a {
  background: #03A9F4;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li:hover a {
  background: rgba(0,0,0,.1) !important;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li a { padding: 10px 10px 10px 30px; }

.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  border-top: 5px solid #505050;
  position: absolute;
  top: 20px;
  right: 10px;
}

}
 @media only screen and (max-width:1199px) {

.container { width: 100%; }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.container2 {
  position: relative;
  width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.img:hover{
  transform: rotate(-360deg);
  transition: all 0.7s ease 0.5s; 
}
.img {
  z-index: 999999;
  position: absolute;
  width: 180px;
  left: 1%;
  transition: all 0.2s ease 0.3s; 
  transform: scale(0.8);
}
.logo {
  z-index: 999;
  top: 5%;
  right: 12%;
  position: absolute;
  width: 550px;
}
.heis {
  position: absolute;
  width: 100%;
  height: 100%;
  height: 674px;
  width: 1536px;
}

.sc-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
.brba {
  position: absolute;
  right: -15.6%;
  width: 100%;
  height: 720px;
  width: 1535px;
}
.hz {
  top: 400px;
  left: -12%;
  position: absolute;
}
.gf {
  top: 50px;
  left: 75%;
  position: absolute;
}
.hs {
  top: 50px;
  left: -12%;
  position: absolute;
}
.hb {
  top: 400px;
  left: 75%;
  position: absolute;
}
.fm-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
.heisa {
  position: absolute;
  width: 100%;
  height: 720px;
  width: 1535px;
  left: -15.6%;
}
.video-box2 {
  position: absolute;
  left: -12%;
  margin-top: 30%;
}
.video-box3 {
  position: absolute;
  right: -12%;
  margin-top: 30%;
}
.meth {
  position: relative;
  width: 100%;
  height: 719px;
  width: 1534px;
  left: 1px;
}
.main {
  position: absolute;
  bottom: 93%;
  left: 43.5%;
  color: white;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}
.cranst {
  position: absolute;
  bottom: 89.5%;
  left: 3%;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 16px;
}
.BR {
  position: absolute;
  width: 100%;
  top: 12%;
  width: 150px;
  height: 125px;
  left: 13%;
}
.cran {
  position: absolute;
  bottom: 70%;
  left: 3%;
  color: #007acc;
  font-size: 15px;
  width: 150px;
  font-family: 'Cinzel', serif;
}
.bryan {
  position: absolute;
  bottom: 42%;
  left: 3%;
  color: #007acc;
  font-size: 15px;
  width: 350px;
  font-family: 'Cinzel', serif;
}
.sky {
  position: absolute;
  bottom: 35.3%;
  left: 3%;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 16px;
}
.ann {
  position: absolute;
  width: 100%;
  width: 120px;
  height: 112px;
  top: 66%;
  left: 16%;
}
.anna {
  position: absolute;
  bottom: 18%;
  left: 3%;
  color: #007acc;
  font-size: 15px;
  width: 200px;
  font-family: 'Cinzel', serif;
}
.AN {
  position: absolute;
  bottom: 4%;
  left: 3%;
  color: #007acc;
  font-size: 15px;
  width: 350px;
  font-family: 'Cinzel', serif;

}
.AP {
  position: absolute;
  width: 100%;
  width: 140px;
  height: 100px;
  bottom: 74%;
  right: 5.5%;

}
.aaron {
  position: absolute;
  bottom: 89%;
  right: 19.7%;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 16px;
}
.paul {
  position: absolute;
  bottom: 73.5%;
  right: 15%;
  color: #007acc;
  width: 150px;
  font-size: 15px;
  font-family: 'Cinzel', serif;
}
.paul2 {
  position: absolute;
  bottom: 51.5%;
  right: 5.3%;
  color: #007acc;
  width: 300px;
  font-size: 15px;
  font-family: 'Cinzel', serif;
}
.dean {
  position: absolute;
  bottom: 42.5%;
  right: 19%;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 16px;
}
.DN {
  position: absolute;
  width: 100%;
  width: 140px;
  height: 120px;
  bottom: 24%;
  right: 4.5%;
}
.norris {
  position: absolute;
  bottom: 23%;
  right: 13.9%;
  color: #007acc;
  width: 170px;
  font-size: 15px;
  font-family: 'Cinzel', serif;
}
.norr {
  position: absolute;
  bottom: 5%;
  right: 2.2%;
  color: #007acc;
  width: 350px;
  font-size: 15px;
  font-family: 'Cinzel', serif;
}
.show-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
.walt {
  position: absolute;
  width: 100%;
  height: 720px;
  width: 1535px;
  left: -15.6%;
}
.intro {
  position: absolute;
  top: 45px;
  left: -8%;
  font-size: 15px;
  color: #1B936A;
  width: 120px;
  font-family: 'Rubik Mono One', sans-serif;
}
.content {
  position: absolute;
  font-size: 15px;
  color: black;
  width: 450px;
  top: 95px;
  left: -14%;
  font-family: 'Raleway', sans-serif;
}
.intro2 {
  position: absolute;
  top: 53px;
  left: 80%;
  font-size: 15px;
  color: #1B936A;
  width: 120px;
  font-family: 'Rubik Mono One', sans-serif;
}
.content2 {
  position: absolute;
  font-size: 15px;
  color: black;
  width: 450px;
  top: 95px;
  left: 76%;
  font-family: 'Raleway', sans-serif;
}
.contact {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
.white {
  position: absolute;
  width: 100%;
  height: 720px;
  width: 1535px;
  left: -15.6%;
}
.fa-facebook-f {
  transition: transform 0.5s;
  top: 260px;
  left: 32%;
  position: absolute;
  font-size: 60px;
  color: #3D58A6;
}
.fa-facebook-f:hover {
  transform: scale(1.5);
}
.fa-twitter {
  transition: transform 0.5s;
  top: 260px;
  left: 40.2%;
  position: absolute;
  font-size: 60px;
  color: #38A1F3;
}
.fa-twitter:hover {
  transform: scale(1.5);
}
.fa-instagram {
  transition: transform 0.5s;
  top: 260px;
  left: 51.5%;
  position: absolute;
  font-size: 60px;
  color: #00ffff;
}
.fa-instagram:hover {
  transform: scale(1.5);
}
.fa-youtube{
  transition: transform 0.5s;
  top: 260px;
  left: 61.5%;
  position: absolute;
  font-size: 60px;
  color: #ED3833;
}
.fa-youtube:hover {
  transform: scale(1.5);
}
